# StarBase

## Imports

In [1]:
import numpy as np
import pandas as pd

from datetime import date, timedelta

## 31 July 2021

### Make a DataFrame for Raw Mats.

In [2]:
Auction_Transactions = pd.DataFrame(data = {'Date'             : ([date(2021, 7, 31)] * 8),
                                            'Item'             : ['Charodium Ore', 'Vokarium Ore', 'Vokarium Ore', 'Vokarium Ore', 'Vokarium Ore', 'Ice', 'Ice', 'Ajatite Ore'], 
                                            'Transaction_Type' : ['Sale', 'Sale', 'Sale', 'Sale', 'Sale', 'Sale', 'Sale', 'Sale'], 
                                            'Price'          : [5085, 2520, 2520, 2696.4, 2696.4, 1573.2, 1573.2, 4000.5]})

### First DataFrame Print.

In [3]:
Auction_Transactions

         Date           Item Transaction_Type   Price
0  2021-07-31  Charodium Ore             Sale  5085.0
1  2021-07-31   Vokarium Ore             Sale  2520.0
2  2021-07-31   Vokarium Ore             Sale  2520.0
3  2021-07-31   Vokarium Ore             Sale  2696.4
4  2021-07-31   Vokarium Ore             Sale  2696.4
5  2021-07-31            Ice             Sale  1573.2
6  2021-07-31            Ice             Sale  1573.2
7  2021-07-31    Ajatite Ore             Sale  4000.5

### Define a function to add a record to the DataFrame.

In [4]:
def add_record(date, item, transaction_type, price):
    return Auction_Transactions.append(pd.DataFrame([[date, item, transaction_type, price]], columns = ['Date', 'Item', 'Transaction_Type', 'Price']))

### Define a function to update daily averages.

In [20]:
def get_daily_averages():
    daily_averages = pd.DataFrame()
    for day in Auction_Transactions['Date'].unique():
        
        print(day)
        
        temp_averages  = [day]
        cols           = ['Date']
        for item in Auction_Transactions[Auction_Transactions['Date'] == day]['Item'].unique():
            
            print(item)
            item_average = Auction_Transactions[Auction_Transactions['Date'] == day][Auction_Transactions['Item'] == item]['Price'].mean()
            print(item_average)
            temp_averages.append(item_average)
            cols.append(item)
            
        print('\n', temp_averages, '\n', cols)

        daily_averages.append(pd.DataFrame([temp_averages], columns = cols))
        
        print(daily_averages)
        
    return daily_averages

---

## 1 August 2021

In [21]:
daily_averages = get_daily_averages()

2021-07-31
Charodium Ore
5085.0
Vokarium Ore
2608.2
Ice
1573.2
Ajatite Ore
4000.5

 [datetime.date(2021, 7, 31), 5085.0, 2608.2, 1573.2, 4000.5]
 ['Date', 'Charodium Ore', 'Vokarium Ore', 'Ice', 'Ajatite Ore']
Empty DataFrame
Columns: []
Index: []

In [9]:
daily_averages

Empty DataFrame
Columns: []
Index: []